<div class="leftsidebar">
  <ul class="leftsidebar-menu">
    <li ng-class="leftmenu == 'dashboard' ? 'active' : ''"><a href="#/"><i class="fa fa-th-large"></i>Dashboard</a></li>
    <li ng-class="leftmenu == 'customers' ? 'active' : ''"><a href="#/customers"><i class="fa fa-users"></i>Customers</a></li>
    <li ng-class="leftmenu == 'branches' ? 'active' : ''"><a href="#/branches"><i class="fa fa-random"></i>Branches</a></li>
    <li ng-class="leftmenu == 'product' ? 'active' : ''"><a href="#/products"><i class="fa fa-tags"></i>Product</a></li>
    <li ng-class="leftmenu == 'packages' ? 'active' : ''"><a href="#/packages"><i class="fa fa-shopping-bag"></i>Packages</a></li>
    <li ng-class="leftmenu == 'promotions' ? 'active' : ''"><a href="#/promotions"><i class="fa fa-bullhorn"></i>Promotions</a></li>
    <li ng-class="leftmenu == 'support' ? 'active' : ''"><a href="#/support"><i class="fa fa-envelope"></i>Support</a></li>
    <li ng-class="leftmenu == 'profit' ? 'active' : ''"><a href="#/profit"><i class="fa fa-money"></i>Profit</a></li>
  </ul>
</div>
