<header>
  <div class="inner">
    <a href="#" class="logo-name">UStyle</a>
    <ul class="header-menu">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="user-menu">
      <li>
        <a href="" class="bttn-login" ng-click="openLoginAccount($event)">Login</a>
        <div class="dropdown-panel" ng-show="ddlogin">
          <div class="login-container" ng-if="signinaccount">
            <h2 class="ddtitle">Account Login</h2>
            <p class="ddcontent">Enter your username/email and password to continue to your UStyle account.</p>
            <form role="form" action="/" method="post" class="login-form">
              <div class="form-wrapper">
                <label for="form-username">Username/Email</label>
                <input type="text" name="email" placeholder="" class="form-username form-control" id="form-username">
              </div>
              <div class="form-wrapper">
                <label for="form-password">Password</label>
                <input type="password" name="password" placeholder="" class="form-password form-control" id="form-password">
              </div>
              <ul class="form-bttns">
                <li class="bttn-left"><button type="submit" class="bttn bttn-mint">Login</button></li>
                <li class="bttn-right"><a href="" class="bttn" ng-click="cancelLoginAccount()">Cancel</a></li>
              </ul>
            </form>
            <a href="#" class="forgotpass" ng-click="showForgotPassword()">Forgot your password? Click here.</a>
          </div>
          <div class="forgotpass-container" ng-if="forgotpassword">
            <h2 class="ddtitle">Forgot Password</h2>
            <p class="ddcontent">Enter your email address and we will send you the reset password link for you account.</p>
            <form role="form">
              <div class="form-wrapper">
                <label for="form-username">Email Address</label>
                <input type="text" name="email" placeholder="" class="form-username form-control" id="form-username">
              </div>
              <ul class="form-bttns">
                <li class="bttn-left"><button type="submit" class="bttn bttn-mint">Reset</button></li>
                <li class="bttn-right"><a href="" class="bttn" ng-click="cancelLoginAccount()">Cancel</a></li>
              </ul>
            </form>
            <a href="#" class="loginaccount" ng-click="showLoginAccount()">Already have an account? Login here.</a>
          </div>
        </div>
      </li>
      <li>
        <a href="" ng-click="openCreateAccount($event)">join us</a>
        <div class="dropdown-panel" ng-show="ddsignup">
          <h2 class="ddtitle">Create Account</h2>
          <p class="ddcontent">Awesome! we can't wait for you to get started, just fill-up the form below and we will send you the verification link for your new account.</p>
          <form role="form">
            <div class="form-wrapper">
              <label for="form-fullname">Full Name</label>
              <input type="text" name="" value="" id="form-fullname" ng-model="account.fullname" />
            </div>
            <div class="form-wrapper">
              <label for="form-emailaddress">Email Address</label>
              <input type="email" name="" value="" id="form-emailaddress" ng-model="account.email"/>
            </div>
            <div class="form-wrapper">
              <label for="form-password">Password</label>
              <input type="password" name="" value="" id="form-password" ng-model="account.password"/>
            </div>
            <div class="form-wrapper">
              <label for="form-businessname">Company/Business Name</label>
              <input type="text" name="password" value="" id="form-businessname" ng-model="account.businessname">
            </div>
            <ul class="form-bttns">
              <li class="bttn-left"><button type="submit" class="bttn bttn-mint" ng-click="saveAccount()">Sign Up</button></li>
              <li class="bttn-right"><a href="" class="bttn" ng-click="cancelCreateAccount()">Cancel</a></li>
            </ul>
          </form>
        </div>
      </li>
    </ul>
  </div>
</header>
