<div class="form-wrapper" ng-if="pageform">
  <div class="form-header">
    <h3>Add New Branch</h3>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Branch Name</label>
    <input type="text" name="branch_name" ng-model="branch.name"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Branch Address</label>
    <input type="text" name="branch_address" ng-model="branch.address"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Telephone Number</label>
    <input type="text" name="branch_tel" ng-model="branch.tel"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Branch Manager</label>
    <input type="text" name="branch_manager" ng-model="branch.manager"/>
  </div>
  <div class="clear"></div>
  <a href="#" class="bttn bttn-pull-right" ng-click="closeform()">Cancel</a>
  <a href="#" class="bttn bttn-pull-right" ng-click="saveBranch()">Save</a>
</div>
