<div class="form-wrapper">
  <div class="form-header">
    <h3>Create Your Company</h3>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Company Industry</label>
    <input type="text" name="" value="" ng-model="company.industry">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Company Name</label>
    <input type="text" name="" value="" ng-model="company.name">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Business Address</label>
    <input type="text" name="" value="" ng-model="company.address">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Contact Number</label>
    <input type="text" name="" value="" ng-model="company.contact_no">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Authorize Representative</label>
    <input type="text" name="" value="" ng-model="company.authorized">
  </div>
  <div class="clear"></div>
  <div class="refnumber">
    <span class="refnum"></span>
  </div>
  <div class="">
    <small>* Submit requirements to activate account.</small>
  </div>
  <a href="#" class="bttn bttn-pull-right" ng-click="closeform()">Cancel</a>
  <a href="#" class="bttn bttn-pull-right" ng-click="saveCompany()">Save</a>
</div>
