<div class="form-wrapper" ng-if="pageform">
  <div class="form-header">
    <h3>Add New Customer</h3>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">First Name</label>
    <input type="text" name="firstname" ng-model="customer.first_name">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Last Name</label>
    <input type="text" name="lastname" ng-model="customer.last_name">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Email Address</label>
    <input type="text" name="email" ng-model="customer.email">
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Password</label>
    <input type="password" name="password" ng-model="customer.password">
  </div>
  <div class="clear"></div>
  <a href="#" class="bttn bttn-pull-right" ng-click="closeform()">Cancel</a>
  <a href="#" class="bttn bttn-pull-right" ng-click="saveCustomer()">Save</a>
</div>
