<div class="form-wrapper" ng-if="pageform">
  <div class="form-header">
    <h3>Add New Products/Service</h3>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Package Name</label>
    <input type="text" name="prod.name" ng-model="package.name"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Package Description</label>
    <textarea name="" ng-model="package.description"></textarea>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Product/Service</label>
    <tags-input ng-model="package.products" add-on-paste="true" placeholder="...">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Package Price</label>
    <input type="text" name="prod.price" ng-model="package.price"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Branch</label>
    <select name="package.branch"  ng-model="package.branch">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
      <option  ng-repeat="branch in branches track by $index" value="{{ branch.id }}">{{ branch.name }}</option> <!-- interpolation -->
    </select>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Date From</label>
    <input type="text" name="date" ng-model="package.start_date" datepicker/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Date To</label>
    <input type="text" name="date" ng-model="package.expire_date" datepicker/>
  </div>
  <div class="clear"></div>
  <a href="#" class="bttn bttn-pull-right" ng-click="closeform()">Cancel</a>
  <a href="#" class="bttn bttn-pull-right" ng-click="savePackage()">Save</a>
</div>
