<div class="form-wrapper" ng-if="pageform">
  <div class="form-header">
    <h3>Add New Products/Service</h3>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Product Name</label>
    <input type="text" name="prod.name" ng-model="product.name"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Product Description</label>
    <textarea name="" ng-model="product.description"></textarea>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Product Price</label>
    <input type="text" name="prod_service" ng-model="product.price"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Product Points</label>
    <input type="text" name="prod_service" ng-model="product.points"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Branch</label>
    <select name="prod.branch"  ng-model="product.branch">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
      <option  ng-repeat="branch in branches track by $index" value="{{ branch.id }}">{{ branch.name }}</option> <!-- interpolation -->
    </select>
  </div>
  <div class="clear"></div>
  <a href="#" class="bttn bttn-pull-right" ng-click="closeform()">Cancel</a>
  <a href="#" class="bttn bttn-pull-right" ng-click="saveProduct()">Save</a>
</div>
