<div class="form-wrapper" ng-if="pageform">
  <div class="form-header">
    <h3>Add New Promotion</h3>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Title</label>
    <input type="text" name="prod.title" ng-model="promo.title"/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Description</label>
    <textarea name="" ng-model="promo.description"></textarea>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Branch</label>
    <select name="prod.branch"  ng-model="promo.branch" ng-repeat="branch in branches track by $index">>
      <option value="{{branch.id}}">{{branch.name}}</option> <!-- interpolation -->
      <option value="{{branch.id}}">{{branch.name}}</option>
    </select>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Date From</label>
    <input type="text" name="date" ng-model="promo.date_from" datepicker/>
  </div>
  <div class="input-wrapper">
    <label for="" class="textlabel">Date To</label>
    <input type="text" name="date" ng-model="promo.date_to" datepicker/>
  </div>
  <div class="clear"></div>
  <a href="#" class="bttn bttn-pull-right" ng-click="closeform()">Cancel</a>
  <a href="#" class="bttn bttn-pull-right" ng-click="savePromo()">Save</a>
</div>
