.colmn-left-20{ padding-left: 20px; }
.colmn-left-15{ padding-left: 15px; }
.colmn-left-10{ padding-left: 10px; }
.colmn-left-5{ padding-left: 5px; }

.colmn-right-20{ padding-right: 20px; }
.colmn-right-15{ padding-right: 15px; }
.colmn-right-10{ padding-right: 10px; }
.colmn-right-5{ padding-right: 5px; }

.colmn{ display: table; width: 100%; }

.colmn1{ float: left; width: 1/12*100%; }
.colmn2{ float: left; width: 2/12*100%; }
.colmn3{ float: left; width: 3/12*100%; }
.colmn4{ float: left; width: 4/12*100%; }
.colmn5{ float: left; width: 5/12*100%; }
.colmn6{ float: left; width: 6/12*100%; }
.colmn7{ float: left; width: 7/12*100%; }
.colmn8{ float: left; width: 8/12*100%; }
.colmn9{ float: left; width: 9/12*100%; }
.colmn10{ float: left; width: 10/12*100%; }
.colmn11{ float: left; width: 11/12*100%; }

.colmn-1024{ @include bp(1024){ float: none; width: 100%; } }
.colmn-960{ @include bp(960){ float: none; width: 100%; } }
.colmn-768{ @include bp(768){ float: none; width: 100%; } }
.colmn-600{ @include bp(600){ float: none; width: 100%; } }
.colmn-480{ @include bp(480){ float: none; width: 100%; } }
.colmn-321{ @include bp(321){ float: none; width: 100%; } }
.colmn-320{ @include bp(320){ float: none; width: 100%; } }

.colmn1-1024{ @include bp(1024){ float: left; width: 1/12*100%; } }
.colmn1-960{ @include bp(960){ float: left; width: 1/12*100%; } }
.colmn1-768{ @include bp(768){ float: left; width: 1/12*100%; } }
.colmn1-600{ @include bp(600){ float: left; width: 1/12*100%; } }
.colmn1-480{ @include bp(480){ float: left; width: 1/12*100%; } }
.colmn1-321{ @include bp(321){ float: left; width: 1/12*100%; } }
.colmn1-320{ @include bp(320){ float: left; width: 1/12*100%; } }

.colmn2-1024{ @include bp(1024){ float: left; width: 2/12*100%; } }
.colmn2-960{ @include bp(960){ float: left; width: 2/12*100%; } }
.colmn2-768{ @include bp(768){ float: left; width: 2/12*100%; } }
.colmn2-600{ @include bp(600){ float: left; width: 2/12*100%; } }
.colmn2-480{ @include bp(480){ float: left; width: 2/12*100%; } }
.colmn2-321{ @include bp(321){ float: left; width: 2/12*100%; } }
.colmn2-320{ @include bp(320){ float: left; width: 2/12*100%; } }

.colmn3-1024{ @include bp(1024){ float: left; width: 3/12*100%; } }
.colmn3-960{ @include bp(960){ float: left; width: 3/12*100%; } }
.colmn3-768{ @include bp(768){ float: left; width: 3/12*100%; } }
.colmn3-600{ @include bp(600){ float: left; width: 3/12*100%; } }
.colmn3-480{ @include bp(480){ float: left; width: 3/12*100%; } }
.colmn3-321{ @include bp(321){ float: left; width: 3/12*100%; } }
.colmn3-320{ @include bp(320){ float: left; width: 3/12*100%; } }

.colmn4-1024{ @include bp(1024){ float: left; width: 4/12*100%; } }
.colmn4-960{ @include bp(960){ float: left; width: 4/12*100%; } }
.colmn4-768{ @include bp(768){ float: left; width: 4/12*100%; } }
.colmn4-600{ @include bp(600){ float: left; width: 4/12*100%; } }
.colmn4-480{ @include bp(480){ float: left; width: 4/12*100%; } }
.colmn4-321{ @include bp(321){ float: left; width: 4/12*100%; } }
.colmn4-320{ @include bp(320){ float: left; width: 4/12*100%; } }

.colmn5-1024{ @include bp(1024){ float: left; width: 5/12*100%; } }
.colmn5-960{ @include bp(960){ float: left; width: 5/12*100%; } }
.colmn5-768{ @include bp(768){ float: left; width: 5/12*100%; } }
.colmn5-600{ @include bp(600){ float: left; width: 5/12*100%; } }
.colmn5-480{ @include bp(480){ float: left; width: 5/12*100%; } }
.colmn5-321{ @include bp(321){ float: left; width: 5/12*100%; } }
.colmn5-320{ @include bp(320){ float: left; width: 5/12*100%; } }

.colmn6-1024{ @include bp(1024){ float: left; width: 6/12*100%; } }
.colmn6-960{ @include bp(960){ float: left; width: 6/12*100%; } }
.colmn6-768{ @include bp(768){ float: left; width: 6/12*100%; } }
.colmn6-600{ @include bp(600){ float: left; width: 6/12*100%; } }
.colmn6-480{ @include bp(480){ float: left; width: 6/12*100%; } }
.colmn6-321{ @include bp(321){ float: left; width: 6/12*100%; } }
.colmn6-320{ @include bp(320){ float: left; width: 6/12*100%; } }

.colmn7-1024{ @include bp(1024){ float: left; width: 7/12*100%; } }
.colmn7-960{ @include bp(960){ float: left; width: 7/12*100%; } }
.colmn7-768{ @include bp(768){ float: left; width: 7/12*100%; } }
.colmn7-600{ @include bp(600){ float: left; width: 7/12*100%; } }
.colmn7-480{ @include bp(480){ float: left; width: 7/12*100%; } }
.colmn7-321{ @include bp(321){ float: left; width: 7/12*100%; } }
.colmn7-320{ @include bp(320){ float: left; width: 7/12*100%; } }

.colmn8-1024{ @include bp(1024){ float: left; width: 8/12*100%; } }
.colmn8-960{ @include bp(960){ float: left; width: 8/12*100%; } }
.colmn8-768{ @include bp(768){ float: left; width: 8/12*100%; } }
.colmn8-600{ @include bp(600){ float: left; width: 8/12*100%; } }
.colmn8-480{ @include bp(480){ float: left; width: 8/12*100%; } }
.colmn8-321{ @include bp(321){ float: left; width: 8/12*100%; } }
.colmn8-320{ @include bp(320){ float: left; width: 8/12*100%; } }

.colmn9-1024{ @include bp(1024){ float: left; width: 9/12*100%; } }
.colmn9-960{ @include bp(960){ float: left; width: 9/12*100%; } }
.colmn9-768{ @include bp(768){ float: left; width: 9/12*100%; } }
.colmn9-600{ @include bp(600){ float: left; width: 9/12*100%; } }
.colmn9-480{ @include bp(480){ float: left; width: 9/12*100%; } }
.colmn9-321{ @include bp(321){ float: left; width: 9/12*100%; } }
.colmn9-320{ @include bp(320){ float: left; width: 9/12*100%; } }

.colmn10-1024{ @include bp(1024){ float: left; width: 10/12*100%; } }
.colmn10-960{ @include bp(960){ float: left; width: 10/12*100%; } }
.colmn10-768{ @include bp(768){ float: left; width: 10/12*100%; } }
.colmn10-600{ @include bp(600){ float: left; width: 10/12*100%; } }
.colmn10-480{ @include bp(480){ float: left; width: 10/12*100%; } }
.colmn10-321{ @include bp(321){ float: left; width: 10/12*100%; } }
.colmn10-320{ @include bp(320){ float: left; width: 10/12*100%; } }

.colmn11-1024{ @include bp(1024){ float: left; width: 11/12*100%; } }
.colmn11-960{ @include bp(960){ float: left; width: 11/12*100%; } }
.colmn11-768{ @include bp(768){ float: left; width: 11/12*100%; } }
.colmn11-600{ @include bp(600){ float: left; width: 11/12*100%; } }
.colmn11-480{ @include bp(480){ float: left; width: 11/12*100%; } }
.colmn11-321{ @include bp(321){ float: left; width: 11/12*100%; } }
.colmn11-320{ @include bp(320){ float: left; width: 11/12*100%; } }

.colmn-offset0{ margin-left: 0; }
.colmn-offset1{ margin-left: 1/12*100%; }
.colmn-offset2{ margin-left: 2/12*100%; }
.colmn-offset3{ margin-left: 3/12*100%; }
.colmn-offset4{ margin-left: 4/12*100%; }
.colmn-offset5{ margin-left: 5/12*100%; }
.colmn-offset6{ margin-left: 6/12*100%; }
.colmn-offset7{ margin-left: 7/12*100%; }
.colmn-offset8{ margin-left: 8/12*100%; }
.colmn-offset9{ margin-left: 9/12*100%; }
.colmn-offset10{ margin-left: 10/12*100%; }
.colmn-offset11{ margin-left: 11/12*100%; }
