$white: #ffffff;
$black: #000000;

$bluejeans-light: #5D9CEC;
$bluejeans-dark: #4A89DC;

$aqua-light: #4FC1E9;
$aqua-dark: #3BAFDA;

$mint-light: #48CFAD;
$mint-dark: #37BC9B;

$grass-light: #A0D468;
$grass-dark: #8CC152;

$sunflower-light: #FFCE54;
$sunflower-dark: #F6BB42;

$bittersweet-light: #FC6E51;
$bittersweet-dark: #E9573F;

$grapefruit-light: #ED5565;
$grapefruit-dark: #DA4453;

$lavender-light: #AC92EC;
$lavender-dark: #967ADC;

$pinkrose-light: #EC87C0;
$pinkrose-dark: #D770AD;

$lightgray-light: #F5F7FA;
$lightgray-dark: #E6E9ED;

$mediumgray-light: #CCD1D9;
$mediumgray-dark: #AAB2BD;

$darkgray-light: #656D78;
$darkgray-dark: #434A54;
