@mixin robot{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
@mixin robol{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
@mixin robon{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
@mixin robom{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
@mixin robob{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
