header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: block;
  width: 100%;
  height: 50px;
  // height: 65px;
  color: $white;
  background-color: $darkgray-dark;
  // border-bottom: 15px solid $lightgray-light;
}
.refnumber{
  float: left;
  display: block;
  padding: 0 0 0 10px;
  margin: 0 0 0 0;
  width: 6/12*100%;
  height: auto;

  .logo{
    float: left;
    display: block;
    width: 5/12*100%;
    height: auto;
    padding: 0;
    margin: 0;

    img{
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }
  }
  .refnum{
    float: left;
    width: 7/12*100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 16px;
  }
}
.leftsidebar{
  display: block;
  width: 150px;
  height: auto;
  min-height: 100%;
  position: fixed;
  overflow: auto;
  color: $darkgray-dark;
  left: 0;
  top: 0;
  background-color: $lightgray-light;

  &:after{
    position: absolute;
    content: "";
    width: 0;
    height: auto;
    padding: 0;
    margin: 0;
    border-right: 1px solid $lightgray-dark;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .leftsidebar-menu{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0 0 20px;
    margin: 0;
    list-style-type: none;
    position: relative;
    z-index: 2;

    >li{
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      text-align: center;

      &.active{
        a{
          @include border-radius(3px 0 0 3px);
          background-color: $white;
          border-bottom: 1px solid $lightgray-dark;
        }
      }
      a{
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 10px;
        margin: 0;
        text-decoration: none;
        outline: none;
        color: $darkgray-dark;
        font-size: 12px;
      }
      i{
        font-size: 30px;
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 0 3px 0;
      }
    }
  }
}

.content{
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  border-top: 1px solid $lightgray-dark;
  background-color: $white;
  padding: 20px;
}

.list-header{
  display: table;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid $lightgray-dark;
}
.list{
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;

  >li{
    display: table;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid $lightgray-dark;
  }
}

.form-container{
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 20px 0;
  overflow: hidden;

  .form-wrapper{
    @include border-radius(3px);
    display: table;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 10px 20px 10px;
    margin: 0 auto;
    border: 1px solid $lightgray-dark;
  }
  .form-header{
    display: block;
    width: 100%;
    height: auto;
    padding: 0 10px 20px 10px;
    margin: 0;

    >h3{
      @include robon;
      font-size: 16px;
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }
  }
  .input-wrapper{
    display: block;
    padding: 0 10px;
    margin: 0 0 20px 0;

    .textlabel{
      @include robon;
      display: block;
      width: 100%;
      height: auto;
      padding: 0 0 5px 3px;
      margin: 0;
      font-size: 11px;
      text-transform: uppercase;
      color: $mediumgray-dark;
    }
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="text"]{
      @include robon;
      @include border-radius(3px);
      display: block;
      width: 100%;
      height: 42px;
      padding: 10px;
      margin: 0;
      font-size: 14px;
      outline: none;
      border: none;
      background-color: $lightgray-light;
      border-top: 1px solid $lightgray-dark;
      border-left: 1px solid $lightgray-light;
      border-right: 1px solid $lightgray-light;
      border-bottom: 1px solid $lightgray-light;

      &:hover,
      &:focus{
        border-color: $mint-dark;
        background-color: $white;
      }
    }
  }
}

.bttn{
  @include border-radius(3px);
  display: inline-block;
  width: auto;
  height: 42px;
  padding: 12px 20px 0px 20px;
  margin: 0;
  background-color: $lightgray-light;
  border-bottom: 1px solid $lightgray-dark;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: $darkgray-light;
  font-size: 13px;

  &:focus,
  &:hover{
    text-decoration: none;
    color: $darkgray-dark;
  }
  &.bttn-pull-right{
    float: right;
    margin-right: 10px;
  }
  &.bttn-pull-left{
    float: left;
    margin-right: 10px;
  }
  &.bttn-mint{
    background-color: $mint-light;
    border-color: $mint-dark;
    color: $white;
  }
}
