
@mixin border-radius($radius){
	-webkit-border-radius: ($radius);
	-moz-border-radius: ($radius);
	-ms-border-radius: ($radius);
	-o-border-radius: ($radius);
	border-radius: ($radius);
}
// @include box-shadow(0, 1px, 1px, 0, rgba(0, 0, 0, 0.5), null);
@mixin box-shadow($left, $top, $blur, $spread, $color, $inset:""){
	-webkit-box-shadow: ($left $top $blur $spread $color #{$inset});
	-moz-box-shadow: ($left $top $blur $spread $color #{$inset});
	-ms-box-shadow: ($left $top $blur $spread $color #{$inset});
	-o-box-shadow: ($left $top $blur $spread $color #{$inset});
	box-shadow: ($left $top $blur $spread $color #{$inset});
}
@mixin box-shadow-none{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
@mixin transform($deg){
	-ms-transform: rotate($deg); /* IE 9 */
	-webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
	transform: rotate($deg);
}
@mixin transition($duration){
	-webkit-transition: all $duration ease;
	-moz-transition: all $duration ease;
	-ms-transition: all $duration ease;
	-o-transition: all $duration ease;
	transition: all $duration ease;
}
@mixin gradient($direction, $from, $to){
	background: -webkit-linear-gradient($direction, $from, $to);
	background: -moz-linear-gradient($direction, $from, $to);
	background: -ms-linear-gradient($direction, $from, $to);
	background: -o-linear-gradient($direction, $from, $to);
	background: linear-gradient($direction, $from, $to);
}
@mixin placeholder-color($color){
	&::-webkit-input-placeholder { color: $color; }
	&:-moz-placeholder { color: $color; }
	&::-moz-placeholder { color: $color; }
	&:-ms-input-placeholder { color: $color; }
}
