@import "_fonts.scss";
@import "_colors.scss";
@import "_mixins.scss";
@import "_medias.scss";
@import "_columns.scss";

html{
  @include robon;
  background-color: $lightgray-light;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  @include robon;
  background-color: $lightgray-light;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.fa{
  &.fa-left{
    margin-right: 10px;
  }
  &.fa-right{
    margin-left: 10px;
  }
}
.clear{
  width: 100%;
  height: 0;
  clear: both;
}
header{
  position: fixed;
  z-index: 9;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  &.fixed{
    background-color: $white;
    color: $darkgray-dark;

    .logo-name{
      color: $darkgray-dark;
    }
    .header-menu{
      >li{
        >a{
          color: $darkgray-dark;
        }
      }
    }
    .user-menu{
      >li{
        >a{
          border-color: $darkgray-light;
          color: $darkgray-light;
        }
      }
    }
  }
  >.inner{
    display: table;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .logo-name{
    @include robol;
    display: block;
    float: left;
    width: auto;
    padding: 10px 0px;
    margin: 0;
    font-size: 28px;
    color: $white;
    outline: none;
    text-decoration: none;
  }
  .header-menu{
    float: left;
    display: table;
    width: auto;
    height: auto;
    padding: 10px 0px 10px 15px;
    margin: 0;
    list-style-type: none;

    >li{
      float: left;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;

      >a{
        position: relative;
        display: block;
        height: auto;
        width: auto;
        padding: 10px;
        margin: 0;
        font-size: 14px;
        text-decoration: none;
        outline: none;
        color: $white;

        &.active,
        &:hover{
          color: $mint-light;

          &:before{
            display: block;
          }
        }
        &:before{
          display: none;
          position: absolute;
          left: 0;
          bottom: -11px;
          content: '';
          width: 100%;
          height: 0;
          padding: 0;
          margin: 0;
          border-top: 2px solid $mint-light;
        }
      }
    }
  }
  .user-menu{
    float: right;
    display: table;
    width: auto;
    height: auto;
    padding: 0 0px;
    margin: 0;
    list-style-type: none;

    >li{
      position: relative;
      float: left;
      width: auto;
      height: auto;
      padding: 10px 0 10px 10px;
      margin: 0;

      >a{
        @include border-radius(3px);
        display: block;
        height: auto;
        width: auto;
        padding: 9px 15px;
        margin: 0;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        color: $white;
        border: 1px solid $white;

        &.active,
        &:hover{
          background-color: $mint-light;
          border-color: $mint-light;
          color: $white;
        }
        &.bttn-login{
          border: none;
          border: 1px solid transparent;

          &.active,
          &:hover{
            background-color: $mint-light;
            border: 1px solid $mint-light;
            color: $white;
          }
        }
      }
      .dropdown-panel{
        @include border-radius(3px);
        background-color: $white;
        display: block;
        width: 320px;
        height: auto;
        min-height: 200px;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 20px;
        margin: 10px 0 0 0;

        &:before{
          position: absolute;
          display: block;
          content: "";
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
          bottom: 100%;
          right: 20px;
          border-top: 10px solid transparent;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid $white;
        }
        .ddtitle{
          @include robol;
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          padding: 0;
          margin: 0 0 5px 0;
          font-size: 24px;
          color: $black;

          &:before{
            position: absolute;
            content: "";
            top: 0;
            left: -20px;
            bottom: 0;
            width: 0;
            height: auto;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-right: 4px solid $black;
          }
        }
        .ddcontent{
          @include robol;
          display: block;
          width: 100%;
          height: auto;
          padding: 0;
          margin: 0 0 25px 0;
          color: $mediumgray-dark;
          line-height: 17px;
        }
        .form-wrapper{
          display: block;
          width: 100%;
          height: auto;
          padding: 0 0 0 0;
          margin: 0 0 10px 0;

          >label{
            @include robol;
            display: block;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0 0 5px 0;
            background-color: transparent;
            font-size: 13px;
            color: $mediumgray-dark;
          }
          input[type="password"],
          input[type="email"],
          input[type="text"]{
            @include robon;
            @include transition(0.6s);
            @include border-radius(3px);
            outline: none;
            display: block;
            width: 100%;
            height: 44px;
            padding: 10px;
            margin: 0;
            background-color: $lightgray-light;
            border-top: 1px solid $lightgray-dark;
            border-right: 1px solid $lightgray-light;
            border-bottom: 1px solid $lightgray-light;
            border-left: 1px solid $lightgray-light;
            color: $darkgray-dark;
            font-size: 14px;

            &:hover,
            &:focus{
              background-color: $white;
              border-color: $mint-dark;
            }
          }
        }.form-bttns{
          display: table;
          width: 100%;
          height: auto;
          padding: 15px 0 15px 0;
          margin: 0;
          list-style-type: none;

          >li{
            float: left;
            width: 6/12*100%;
            height: auto;
            padding: 0;
            margin: 0;

            &.bttn-left{
              padding-right: 10px;
            }
            &.bttn-right{
              padding-left: 10px;
            }
            button[type="submit"]{
              &.bttn{
                padding-top: 0;
              }
            }
            .bttn{
              @include border-radius(3px);
              background-color: $lightgray-light;
              color: $darkgray-light;
              display: block;
              width: 100%;
              height: 44px;
              padding: 12px 10px 0 10px;
              margin: 0;
              border-top: none;
              border-right: none;
              border-left: none;
              border-bottom: 1px solid $lightgray-dark;
              text-align: center;
              text-decoration: none;
              outline: none;

              &:hover{
                background-color: $lightgray-dark;
              }
              &.bttn-mint{
                color: $white;
                background-color: $mint-light;
                border-bottom: 1px solid $mint-dark;

                &:hover{
                  background-color: $mint-dark;
                }
              }
            }
          }
        }
        .loginaccount,
        .forgotpass{
          display: block;
          width: 100%;
          height: auto;
          padding: 5px 0px;
          margin: 0;
          text-align: center;
          text-decoration: none;
          outline: none;
          color: $mediumgray-dark;

          &:hover{
            color: $bluejeans-dark;
          }
        }
      }
    }
  }
}
.blocks{
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  &#mainblock{
    color: $white;
    position: relative;
    background-image: url("/static/images/hero_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    // &:before{
    //   z-index: 1;
    //   background-color: rgba(0,0,0,0.2);
    //   position: absolute;
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   padding: 0;
    //   margin: 0;
    //   display: block;
    // }
    .blocks-inner{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &#features{
    padding-top: 460px;

    .blocks-inner{
      padding-bottom: 0;
    }
  }
  &#howitworks{
    background-color: $white;
  }
  .blocks-inner{
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 200px;
    padding: 50px 15px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .blocks-heading{
    @include robon;
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 0px 20px 20px 20px;
    margin: 0 auto 50px auto;
    text-align: center;
    border-bottom: 1px solid $mediumgray-light;
  }
}
.hero-content{
  display: block;
  width: 100%;
  max-width: 960px;
  height: auto;
  padding: 100px 0 100px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;

  >h1{
    @include robot;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 10px 0;
    color: $white;
  }
  >h4{
    @include robot;
    display: block;
    width: 100%;
    max-width: 768px;
    height: auto;
    padding: 0;
    margin: 0 auto 30px auto;
    color: $white;
    line-height: 24px;
  }
  .bttn-tour{
    @include transition(0.6s);
    @include border-radius(3px);
    display: inline-block;
    width: auto;
    height: auto;
    padding: 15px 20px;
    margin: 0;
    font-size: 14px;
    color: $white;
    border: 1px solid $white;
    text-align: center;
    text-decoration: none;
    outline: none;

    &:hover{
      background-color: $mint-dark;
      border-color: $mint-dark;
      color: $white;
    }
  }
  .macview{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.features-list{
  display: table;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 30px 0;
  list-style-type: none;

  >li{
    position: relative;
    float: left;
    display: inline-block;
    width: 4/12*100%;
    height: auto;
    padding: 0 15px 50px 80px;
    margin: 0;

    &:hover{
      >.feature-icon{
        background-color: $mint-dark;
        color: $white;
      }
    }
    >.feature-icon{
      @include border-radius(100%);
      display: table;
      width: 65px;
      height: 65px;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      border: 2px solid $mint-dark;
      text-align: center;
      font-size: 28px;
      color: $mint-dark;

      i{
        display: table-cell;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        vertical-align: middle;
      }
    }
    >h3{
      @include robon;
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0 0 15px 0;
      font-size: 18px;
    }
    >p{
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0 0 15px 0;
    }
    >.learnmore{
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      color: $mint-dark;
      text-decoration: none;
      outline: none;
    }
  }
}

footer{
  background-color: $darkgray-dark;
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0px;
  margin: 0;
  color: $white;

  .inner{
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
