@import "_fonts.scss";
@import "_colors.scss";
@import "_mixins.scss";
@import "_medias.scss";
@import "_columns.scss";
@import "_merchant.scss";

html{
  @include robon;
  background-color: $white;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  @include robon;
  background-color: $white;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.fa{
  &.fa-left{
    margin-right: 10px;
  }
  &.fa-right{
    margin-left: 10px;
  }
}
