<div class="login-container">
  <h3 class="appname">ULife</h3>
  <div class="login-form">
    <input type="email" name="name" value="" placeholder="Username">
    <input type="password" name="name" value="" placeholder="Password">
    <button type="button" name="button" class="bttn bttn-login">test</button>
  </div>
</div>
