<init-header></init-header>
<p class="merchants-title">Merchants</p>
<ul class="merchants-list">
  <li ng-repeat="item in companies track by $index">
    <div class="merchants-wrapper" ng-click="openmerchdetails(item.user.id)">
      <figure class="merchant-logo" style="background-image:url('https://upload.wikimedia.org/wikipedia/en/thumb/3/35/Starbucks_Coffee_Logo.svg/480px-Starbucks_Coffee_Logo.svg.png')"></figure>
    </div>
    <p class="merchant-name">{{ item.user.company.name }}</p>
  </li>
</ul>
<div class="merchant-details animated slideInLeft" ng-if="merchdetails">
  <div class="inner">
    <div class="details-header">
      <a href="" class="bttn-back" ng-click="closemerchdetails()"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="merchant-profile">
      <div class="merchant-logowrap">
        <figure class="merchant-logo" style="background-image:url('https://upload.wikimedia.org/wikipedia/en/thumb/3/35/Starbucks_Coffee_Logo.svg/480px-Starbucks_Coffee_Logo.svg.png')"></figure>
      </div>
      <p class="merchant-name">{{ item.user.company.name }}</p>
    </div>
    <ul class="merchant-promos">
      <li><a href="" ng-click="availPackage()" class="promo_wrap"><img src="https://s-media-cache-ak0.pinimg.com/564x/18/7a/99/187a99f09c52116679d120e25f8bd36b.jpg" /></a></li>
      <li><a href="" class="promo_wrap"><img src="https://thedaydreamerisme.files.wordpress.com/2015/02/starbucks-website.jpg" /></a></li>
      <li><a href="" class="promo_wrap"><img src="http://1.bp.blogspot.com/--TFiay1Gz5Q/VfbfSTPYHQI/AAAAAAAA6Og/mBM-6384vu4/s640/image002.jpg" /></a></li>
    </ul>
  </div>
</div>
