<init-summary></init-summary>
<p class="subscription-title">Subscriptions</p>
<ul class="subscription-list">
  <li ng-repeat="item in repeat(20) track by $index">
    <div class="subscription-wrapper" ng-click="opensuboptions()">
      <div class="subscription-inner">
        <h3 class="merchant-name">Merchant Name Here</h3>
        <div class="colmn8">
          <p class="textlabel">Subscription</p>
          <p class="package-title">Package Title Here</p>
        </div>
        <div class="colmn4">
          <p class="textlabel">Valid Until</p>
          <p class="validity">3 Jun 2016</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </li>
</ul>
<div class="subscription-options" ng-if="subscriptionoptions">
  <div class="optionsinner animated slideInLeft">
    <ul class="options-list">
      <li><a href="#">Renew Subscription</a></li>
      <li><a href="#">Unsubscribe</a></li>
      <li><a href="" ng-click="closesuboptions()">Cancel</a></li>
    </ul>
  </div>
</div>
