<a href="#" class="bttn bttn_add" ng-click="openform()">New Branch</a>
<div class="form-container" init-branchform></div>
<div class="page-header">
  <h1> List of Branches</h1>
</div>
<table class="table table-condensed">
    <thead>
        <th>Branch Name</th>
        <th>Branch Manager</th>
        <th>Branch Address</th>
        <th>Branch Tel no.</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr class="active" ng-repeat="branch in branches track by $index">
            <td class="vertical-align">{{ branch.name }}</td>
            <td class="vertical-align">{{ branch.manager }}</td>
            <td class="vertical-align">{{ branch.address }}</td>
            <td class="vertical-align">{{ branch.contact_no }}</td>
            <td class="vertical-align">
                <a href="" class="btn btn-success">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>