<a href="#" class="bttn bttn_add" ng-click="openform()">New Customer</a>
<a href="#" class="bttn bttn_success" type="file">Bulk Upload</a>

<div class="form-container" init-customerform></div>
<div class="page-header">
  <h1> List of Customers</h1>
</div>
<table class="table table-condensed">
    <thead>
        <th>Profile</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <!-- <th>Created Date</th> -->
        <th>Action</th>
    </thead>
    <tbody>
        <tr class="active" ng-repeat="customer in customers track by $index">
          <th><img src="/static/images/rodskie.png" class="img"></th>
          <td class="vertical-align">{{customer.profile.first_name}}</td>
          <td class="vertical-align">{{customer.profile.last_name}}</td>
          <td class="vertical-align">{{customer.profile.email_add}}</td>

          <td class="vertical-align">
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Assign Package</a>
            <a href="" class="btn btn-success">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
          </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Subscription</h4>
      </div>
      <div class="modal-body">
        <div class="input-wrapper">
          <label for="" class="textlabel">Package(s)</label>
          <tags-input ng-model="tags" add-on-paste="true" placeholder="Search packages.">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="customerPackage(tags)">Add Package</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>