 <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="caption text-center">
            <h1>1, 000</h1>
            <i class="fa fa-users fa-37" aria-hidden="true"></i>
           <h3>Total Customers</h3>
        </div>
    </div>
</div>
 <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="caption text-center">
            <h1>1, 000</h1>
            <i class="fa fa-users fa-37" aria-hidden="true"></i>
           <h3>Active Customers</h3>
        </div>
    </div>
</div>
 <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="caption text-center">
            <h1>1, 000</h1>
            <i class="fa fa-calendar fa-37" aria-hidden="true"></i>
           <h3>Sales of the Month</h3>
        </div>
    </div>
</div>
 <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="caption text-center">
            <h1>1, 000</h1>
            <i class="fa fa-money fa-37" aria-hidden="true"></i>
           <h3>Months Payable</h3>
        </div>
    </div>
</div>


<div class="col-md-12">
    <highchart id="chart1" config="chartConfig"></highchart>
</div>
<button class="btn btn-primary" ng-click="showReports()">All Reports</button>
<button class="btn btn-success" ng-click="showCustomers()">Customers</button>
<button class="btn btn-danger" ng-click="showSales()">Sales</button>
