<a href="#" class="bttn bttn_add" ng-click="openform()">New Packages</a>
<div class="form-container" init-packageform></div>
<div class="page-header">
  <h1> List of Packages</h1>
</div>

<div class="list">
  <div class="col-md-4 product-list" ng-repeat="package in packages track by $index">
      <img src="/static/images/packages/American_grande.jpg" style="width: 100%">
      <div class="detail">
          <p>Package Deal: {{ package.name }}</p>
          <p>Product: <span ng-repeat="product in package.products track by $index">{{ product.name }}, </span></p>
          <p>Branch: {{ package.branch.name }}</p>
          <p>Validity: {{ package.start_date }} - {{ package.exp_date }}</p>
          <a href="" class="btn btn-success">Edit</a>
          <a href="" class="btn btn-danger">Delete</a>
      </div>
  </div>
</div>
