<a href="#" class="bttn bttn_add" ng-click="openform()">New Product</a>
<a href="#" class="bttn bttn_success" ng-click="openform()">Bulk Upload</a>
<div class="form-container" init-productform></div>
<div class="page-header">
  <h1> List of Products</h1>
</div>
<div class="list">
    <div class="col-md-4 product-list" ng-repeat="product in products track by $index">
        <img src="/static/images/products/A_SPACE_Cebu-30_1024x1024.jpg" style="width: 100%">
        <div class="detail">
            <h4>{{ product.name }}</h4>
            <p>Branch: {{ product.branch.name }}</p>
            <p>Price: P {{ product.price }}</p>
            <a href="" class="btn btn-success">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>