<div class="page-header">
  <h1>Profit Sharing</h1>
</div>

<p>
   I hereby agree that I have to share <input type="text" min=2 ng-model="profit.amount1">% of my sales per package for the maintenance of the platform.
</p>
<p>
    I hereby agree that I have to share <input type="text" min=10 ng-model="profit.amount2">% of the sales per package sold by the U:life
</p>

<a href="#" class="bttn bttn_add" ng-click="saveProfitSharing()">Save Changes</a>