<a href="#" class="bttn bttn_add" ng-click="openform()">New Promotion</a>
<div class="form-container" init-promoform></div>
<div class="page-header">
  <h1> List of Promotions</h1>
</div>
<table class="table table-condensed">
    <thead>
        <th>Promo Title</th>
        <th>Promo Description</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Activate</th>
    </thead>
    <tbody>
        <tr class="active"  ng-repeat="promo in promos track by $index">
            <td class="vertical-align">{{promo.title}}</td>
            <td class="vertical-align">{{promo.description}}</td>
            <td class="vertical-align">{{promo.date_from}}</td>
            <td class="vertical-align">{{promo.date_to}}</td>
            <td class="vertical-middle">
                <a href="" class="btn btn-success">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>