<div class="header">
  <div class="search">
    <div class="search-inner">
      <span class="search-icon"><i class="fa fa-search"></i></span>
      <input type="text" name="" value="" placeholder="Search">
      <a href="" class="bttn-filter" ng-click="opencategories()"><i class="fa fa-list"></i></a>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="categories" ng-if="viewcategories">
  <div class="categories-inner animated slideInRight">
    <h3 class="categories-title">Categories</h3>
    <ul class="categories-list">
      <li ng-repeat="item in repeat(30) track by $index"><a href="#">hello</a></li>
    </ul>
  </div>
  <a href="" class="categories-backdrop" ng-click="closecategories()"></a>
</div>
