<div class="menu">
  <ul class="menu-list">
    <li ng-class="activemenu == 'subscriptions' ? 'active' : ''"><a href="#/subscriptions"><i class="fa fa-check-square-o"></i>Subscriptions</a></li>
    <li ng-class="activemenu == 'merchants' ? 'active' : ''"><a href="#/merchants"><i class="fa fa-shopping-basket"></i>Merchants</a></li>
    <li ng-class="activemenu == 'promos' ? 'active' : ''"><a href="#/promos"><i class="fa fa-tag"></i>Promotional</a></li>
    <li ng-class="activemenu == 'bills' ? 'active' : ''"><a href="#/bills"><i class="fa fa-money"></i>Bills</a></li>
  </ul>
</div>
