<init-header></init-header>
<div class="blocks" id="mainblock">
  <div class="blocks-inner">
    <div class="hero-content">
      <h1>Do not wait — Manage your membership now!</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel massa rhoncus, faucibus justo sit amet, semper turpis.</h4>
      <a href="#" class="bttn-tour">TAKE A TOUR</a>
      <div class="macview">
        <img src="/static/images/mac.webp" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="blocks" id="features">
  <div class="blocks-inner">
    <h3 class="blocks-heading">The features of UStyle</h3>
    <ul class="features-list">
      <li>
        <div class="feature-icon">
          <i class="fa fa-cog"></i>
        </div>
        <h3 class="feature-title">The quick brown fox</h3>
        <p>Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.</p>
        <a href="#" class="learnmore">Learn More <i class="fa fa-long-arrow-right fa-right"></i></a>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-cog"></i>
        </div>
        <h3 class="feature-title">The quick brown fox</h3>
        <p>Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.</p>
        <a href="#" class="learnmore">Learn More <i class="fa fa-long-arrow-right fa-right"></i></a>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-cog"></i>
        </div>
        <h3 class="feature-title">The quick brown fox</h3>
        <p>Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.</p>
        <a href="#" class="learnmore">Learn More <i class="fa fa-long-arrow-right fa-right"></i></a>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-cog"></i>
        </div>
        <h3 class="feature-title">The quick brown fox</h3>
        <p>Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.</p>
        <a href="#" class="learnmore">Learn More <i class="fa fa-long-arrow-right fa-right"></i></a>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-cog"></i>
        </div>
        <h3 class="feature-title">The quick brown fox</h3>
        <p>Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.</p>
        <a href="#" class="learnmore">Learn More <i class="fa fa-long-arrow-right fa-right"></i></a>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-cog"></i>
        </div>
        <h3 class="feature-title">The quick brown fox</h3>
        <p>Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.</p>
        <a href="#" class="learnmore">Learn More <i class="fa fa-long-arrow-right fa-right"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="blocks" id="howitworks">
  <div class="blocks-inner">
    test
  </div>
</div>
<div class="blocks">
  <div class="blocks-inner">
    test
  </div>
</div>
<div class="blocks">
  <div class="blocks-inner">
    test
  </div>
</div>
<div class="blocks">
  <div class="blocks-inner">
    test
  </div>
</div>
<div class="blocks">
  <div class="blocks-inner">
    test
  </div>
</div>
<div class="blocks">
  <div class="blocks-inner">
    test
  </div>
</div>
<footer>
  <div class="inner">
    test
  </div>
</footer>
<!-- <div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>U</strong> Style</h1>
                    <div class="description">
                      <p>
                        Your lifestyle in a digital wallet
                      </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                  <div class="form-top">
                    <div class="form-top-left">
                      <h3>Login</h3>
                        <p>Enter your email and password to log on:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-lock"></i>
                    </div>
                    </div>
                    <div class="form-bottom">
                  <form role="form" action="/" method="post" class="login-form">
                    <div class="form-group">
                      <label class="sr-only" for="form-username">Username/Email</label>
                        <input type="text" name="email" placeholder="Username..." class="form-username form-control" id="form-username">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                      </div>
                      <button type="submit" class="btn">Sign in!</button>
                  </form>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                  <h3>...or login with:</h3>
                  <div class="social-login-buttons">
                    <a class="btn btn-link-2" href="#">
                      <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-link-2" href="#">
                      <i class="fa fa-twitter"></i> Twitter
                    </a>
                    <a class="btn btn-link-2" href="#">
                      <i class="fa fa-google-plus"></i> Google Plus
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
