.dashboard-container{
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: $lightgray-light;
}
.summary{
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0;
  background-color: $grapefruit-light;
  border-bottom: 1px solid $grapefruit-dark;

  &:before{
    opacity: 0.3;
    position: absolute;
    content: '';
    width: 0;
    height: auto;
    left: 50%;
    top: 50px;
    bottom: 15px;
    border-right: 1px solid $lightgray-dark;
  }
  .textlabel{
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 2px 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }
  .amount{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: $white;
  }
  .search{
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 10px 0;
    margin: 0;

    .search-inner{
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;

      .search-icon{
        display: table;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: $white;
        text-align: center;

        i{
          display: table-cell;
          width: 100%;
          height: auto;
          padding: 0;
          margin: 0;
          vertical-align: middle;
        }
      }
      input[type="text"]{
        @include border-radius(2px);
        @include robon;
        @include placeholder-color($white);
        float: left;
        display: block;
        width: 10.3/12*100%;
        height: 30px;
        padding: 6px 10px  6px 30px;
        margin: 0;
        font-size: 13px;
        background-color: $grapefruit-dark;
        color: $white;
        border: none;
        outline: none;
      }
      .bttn-filter{
        @include border-radius(2px);
        background-color: $grapefruit-dark;
        float: right;
        display: table;
        width: 1.5/12*100%;
        height: 30px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $white;

        >i{
          vertical-align: middle;
          display: table-cell;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
.merchants-title,
.subscription-title{
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 10px;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  color: $mediumgray-dark;
}
.subscription-list{
  display: block;
  width: 100%;
  height: auto;
  padding: 0px 10px 20px 10px;
  margin: 0;
  list-style-type: none;

  >li{
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0px 5px 0px;
    margin: 0;
  }
  .subscription-wrapper{
    @include border-radius(3px);
    display: block;
    background-color: $white;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid $lightgray-dark;
  }
  .textlabel{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: $darkgray-light;
  }
  .merchant-name{
    @include robon;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    color: $black;
  }
  .package-title{
    @include robom;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 13px;
    color: $darkgray-dark;
  }
  .validity{
    @include robom;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 13px;
    color: $darkgray-dark;
  }
}
.subscription-options{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 99;

  .optionsinner{
    position: absolute;
    padding: 15px;
    display: block;
    width: 100%;
    height: auto;
    padding: 15px 15px 50px 15px;
    margin: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .options-list{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;

    >li{
      display: block;
      width: 100%;
      height: auto;
      padding: 0 0 8px 0;
      margin: 0;

      &:last-child{
        padding-top: 8px;
        padding-bottom: 8px;
      }
      >a{
        @include border-radius(3px);
        display: block;
        width: 100%;
        height: auto;
        padding: 13px 10px;
        margin: 0;
        font-size: 16px;
        color: $darkgray-dark;
        text-decoration: none;
        text-align: center;
        outline: none;
        background-color: $white;
        border-bottom: 1px solid rgba(0,0,0,0.4);
      }
    }
  }
  .backdrop{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.3);
  }
}
