.login-container{
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;
}
.appname{
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $white;
}
.login-form{
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="text"]{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
    border: none;
  }
}
