@mixin bp($breakpoint){
	$screenview_min1439:	"only screen and (min-width: 1439px)";
	$screenview_min1350:	"only screen and (min-width: 1350px) and (max-width: 1440px)";
	$screenview_min1200:	"only screen and (min-width: 1200px) and (max-width: 1349px)";
	$screenview_min1024:	"only screen and (min-width: 1024px) and (max-width: 1199px)";
	$screenview_min960:		"only screen and (min-width: 960px) and (max-width: 1023px)";
	$screenview_min768:		"only screen and (min-width: 768px) and (max-width: 959px)";
	$screenview_min600:		"only screen and (min-width: 600px) and (max-width: 767px)";
	$screenview_min480:		"only screen and (min-width: 480px) and (max-width: 599px)";
	$screenview_min321:		"only screen and (min-width: 321px) and (max-width: 479px)";
	$screenview_max320:		"only screen and (max-width: 320px)";

	@if $breakpoint == 1439{
		@media #{$screenview_min1439}{ @content; }
	}
	@else if $breakpoint == 1350{
		@media #{$screenview_min1350}{ @content; }
	}
	@else if $breakpoint == 1200{
		@media #{$screenview_min1200}{ @content; }
	}
	@else if $breakpoint == 1024{
		@media #{$screenview_min1024}{ @content; }
	}
	@else if $breakpoint == 960{
		@media #{$screenview_min960}{ @content; }
	}
	@else if $breakpoint == 768{
		@media #{$screenview_min768}{ @content; }
	}
	@else if $breakpoint == 600{
		@media #{$screenview_min600}{ @content; }
	}
	@else if $breakpoint == 480{
		@media #{$screenview_min480}{ @content; }
	}
	@else if $breakpoint == 321{
		@media #{$screenview_min321}{ @content; }
	}
	@else if $breakpoint == 320{
		@media #{$screenview_max320}{ @content; }
	}
}


@mixin clear1024{
	@include bp(1024){
		float: none;
		width: 100%;
		clear: both;
	}
}
@mixin clear960{
	@include bp(960){
		float: none;
		width: 100%;
		clear: both;
	}
}
@mixin clear768{
	@include bp(768){
		float: none;
		width: 100%;
		clear: both;
	}
}
@mixin clear600{
	@include bp(600){
		float: none;
		width: 100%;
		clear: both;
	}
}
@mixin clear480{
	@include bp(480){
		float: none;
		width: 100%;
		clear: both;
	}
}
@mixin clear321{
	@include bp(320){
		float: none;
		width: 100%;
		clear: both;
	}
}
@mixin clear320{
	@include bp(320){
		float: none;
		width: 100%;
		clear: both;
	}
}


.clear1024{
	@include bp(1024){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}
.clear960{
	@include bp(960){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}
.clear768{
	@include bp(768){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}
.clear600{
	@include bp(600){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}
.clear480{
	@include bp(480){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}
.clear321{
	@include bp(321){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}
.clear320{
	@include bp(320){
		float: none!important;
		width: 100%!important;
		clear: both!important;
	}
}

.hide1024{
	@include bp(1024){
		display: none!important;
	}
}
.hide960{
	@include bp(960){
		display: none!important;
	}
}
.hide768{
	@include bp(768){
		display: none!important;
	}
}
.hide600{
	@include bp(600){
		display: none!important;
	}
}
.hide480{
	@include bp(480){
		display: none!important;
	}
}
.hide321{
	@include bp(321){
		display: none!important;
	}
}
.hide320{
	@include bp(320){
		display: none!important;
	}
}



.show1024{
	@include bp(1024){
		display: block!important;
	}
}
.show960{
	@include bp(960){
		display: block!important;
	}
}
.show768{
	@include bp(768){
		display: block!important;
	}
}
.show600{
	@include bp(600){
		display: block!important;
	}
}
.show480{
	@include bp(480){
		display: block!important;
	}
}
.show321{
	@include bp(321){
		display: block!important;
	}
}
.show320{
	@include bp(320){
		display: block!important;
	}
}
