.merchants-list{
  display: table;
  width: 100%;
  height: auto;
  padding: 0px 5px 20px 5px;
  margin: 0;
  list-style-type: none;

  >li{
    float: left;
    display: block;
    width: 6/12*100%;
    height: auto;
    padding: 0 5px 10px 5px;
    margin: 0;

    .merchants-wrapper{
      @include border-radius(3px);
      display: block;
      background-color: $white;
      width: 100%;
      height: 145px;
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid $lightgray-dark;
    }
    .merchant-logo{
      display: block;
      width: 120px;
      height: 120px;
      padding: 0;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .merchant-name{
      display: block;
      width: 100%;
      height: auto;
      padding: 5px 0 0 0;
      margin: 0;
      text-align: center;
      font-size: 11px;
      color: $darkgray-light;
    }
  }
}
.merchant-details{
  background-color: $lightgray-light;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: auto;
  z-index: 99;

  .details-header{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;

    .bttn-back{
      display: table;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      text-decoration: none;
      outline: none;
      color: $white;
      text-align: center;
      font-size: 18px;

      i{
        display: table-cell;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        vertical-align: middle;
      }
    }
  }
  .inner{
    display: block;
    width: 100%;
    height: auto;
    min-height: 150px;
    padding: 0;
    margin: 0;
    position: relative;

    &:before{
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background-color: $grapefruit-light;
      z-index: 1;
    }
  }
  .merchant-profile{
    display: block;
    width: 100%;
    height: auto;
    padding: 0px 15px;
    margin: 0;
    z-index: 2;
    position: relative;

    .merchant-logowrap{
      @include border-radius(3px);
      display: table;
      width: 150px;
      height: 150px;
      background-color: $white;
      padding: 10px;
      margin: 0 auto 10px auto;
      border-bottom: 1px solid $lightgray-dark;

      .merchant-logo{
        display: table-cell;
        vertical-align: middle;
        width: 130px;
        height: 130px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: $white;
      }
    }
    .merchant-name{
      @include robon;
      display: block;
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
  }
  .merchant-promos{
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 0;
    list-style-type: none;

    >li{
      .promo_wrap{
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 0 10px 0;
        text-decoration: none;
        outline: none;

        img{
          width: 100%;
          height: auto;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
