@import "_fonts.scss";
@import "_colors.scss";
@import "_mixins.scss";
@import "_medias.scss";
@import "_columns.scss";
@import "_login.scss";
@import "_dashboard.scss";
@import "_merchants.scss";

html{
  @include robon;
  background-color: $lightgray-light;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
body{
  @include robon;
  background-color: $lightgray-light;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;

  &.login-page{
    background-color: $darkgray-dark;
    background-image: url('http://taxiruskinfl.com/wp-content/uploads/2014/10/shopping.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &.merchdetails_open,
  &.subscriptoption_open,
  &.categories_open{
    overflow: hidden;
  }
}
.clear{
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.menu{
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid $grapefruit-dark;
  background-color: $grapefruit-light;

  .menu-list{
    display: table;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;

    >li{
      float: left;
      width: 3/12*100%;
      height: auto;
      padding: 0;
      margin: 0;

      &.active{
        a{
          background-color: $grapefruit-dark;
        }
      }
      >a{
        display: block;
        width: 100%;
        height: auto;
        padding: 8px 0;
        margin: 0;
        text-align: center;
        text-decoration: none;
        outline: none;
        font-size: 10px;
        color: $white;

        i{
          font-size: 16px;
          display: block;
          width: 100%;
          height: auto;
          padding: 0;
          margin: 0 0 3px 0;
        }
      }
    }
  }
}

.header{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  color: $white;
  background-color: $grapefruit-light;
  border-bottom: 1px solid $grapefruit-dark;

  .search{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;

    .search-inner{
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;

      .search-icon{
        display: table;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: $white;
        text-align: center;

        i{
          display: table-cell;
          width: 100%;
          height: auto;
          padding: 0;
          margin: 0;
          vertical-align: middle;
        }
      }
      input[type="text"]{
        @include border-radius(2px);
        @include robon;
        @include placeholder-color($white);
        float: left;
        display: block;
        width: 10.3/12*100%;
        height: 30px;
        padding: 6px 10px  6px 30px;
        margin: 0;
        font-size: 13px;
        background-color: $grapefruit-dark;
        color: $white;
        border: none;
        outline: none;
      }
      .bttn-filter{
        @include border-radius(2px);
        background-color: $grapefruit-dark;
        float: right;
        display: table;
        width: 1.5/12*100%;
        height: 30px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: $white;

        >i{
          vertical-align: middle;
          display: table-cell;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.categories{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 99;

  .categories-inner{
    display: block;
    width: 180px;
    height: auto;
    background-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: auto;
  }
  .categories-title{
    @include robon;
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 0;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    background-color: $grapefruit-light;
  }
  .categories-backdrop{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.3);
  }
  .categories-list{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0 20px 0px;
    margin: 0;
    list-style-type: none;

    >li{
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;

      &:before{
        display: block;
        position: absolute;
        content: '';
        left: 10px;
        right: 10px;
        bottom: 0;
        width: auto;
        height: 0;
        border-bottom: 1px solid $lightgray-dark
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
      >a{
        display: block;
        width: 100%;
        height: auto;
        padding: 5px 15px;
        margin: 0;
        color: $darkgray-dark;
        text-decoration: none;
        outline: none;
        font-size: 13px;

        &:hover{
          background-color: $lightgray-light;
        }
      }
    }
  }
}
