<header class="merchantHeader">
    <div class="pull-right">
        <div class="settings">
            <ul class="list-inline">
                <li>
                    <a href="#/profile" class="dropdown-toggle">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/logout" class="dropdown-toggle">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>
