.relative {
    position: relative;
}
.input-badge {
    width: 26%;
    position: absolute;
    right: 16px;
    top: 25px;"
}
.table-list {
    display: table;
    height: 100px;
}
.prof-img {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}
.prof-details {
    display: inline-block;
    width: 100%;
}
.prof-details p {
    display: inline-block;
    width: 16%;
    margin: 22px 0;
}

textarea, select, .tags {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    outline: 0;
    border: none;
    background-color: #F5F7FA;
    border-top: 1px solid #E6E9ED;
    border-left: 1px solid #F5F7FA;
    border-right: 1px solid #F5F7FA;
    border-bottom: 1px solid #F5F7FA;
}
.img {
    width: 50px;
}
.vertical-align {
    vertical-align: middle !important;
}
.list .detail {
    margin: 20px 0;
}
.head-list {
    display: table;
    padding: 10px;
}
.product-list {
    background-color: #fff;
    border: 1px solid #AAB2BD;
}
.bttn_add {
   background-color: #DA4453 !important;
   color: #fff !important;
}
.bttn_success {
    background-color: #449d44 !important;
   color: #fff !important;
}
.settings {
    padding-right: 20px;
    padding-top: 2px;
}
.settings a{
    color: #fff;
    font-size: 30px;
}
.fa-37 {
    font-size: 32px;
}